@media only screen and (max-width: 960px) {
	body {
	}

	ul.menu {
		display: none;
	}

	.temperature-container {
		bottom: 180px;
		justify-content: right;
		padding: 20px;
		position: absolute;
		right: 20px;
		top: 100px;
	}
	.temperature-container::before {
		background: $overlay;
		content: "";
		width: 220px;
	}

	.clock {
		.current-time {
			display: block;
			font-size: 90px;
			margin: 30px 0;

			span:nth-child(3) {
				display: none;
			}

			span:nth-child(4) {
				float: left;
				font-size: 30px;
				margin-top: 2px;
				max-width: 100px;
				position: absolute;
			}
		}
		.current-date {
			font-size: 26px;
		}
	}

	.mini-clock {
		@include centerItem;

		bottom: 0;
		font-size: 16px;
		height: 80px;
		margin: 0;
		margin-bottom: 40px;
		top: auto;
		width: 100vw;
	}

	.min-menu > .min-list-item.list-item {
		background: #4f617d;
	}

	.min-menu {
		display: flex;
		margin: auto;
		margin-inline-end: 0;
		padding-inline-start: 0;

		.list-item {
			background-color: none;
			color: $white;
			font-size: 30px;
			height: 80px;
			margin: 0;
			padding: 20px 15px;
			position: relative;
			width: 100%;
			border-left: 1px solid #ffffff;

			&:hover {
				background-color: #242868;
			}

			i {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:nth-child(1) {
				border: none;
			}
		}
	}

	.theme-container {
		height: 45px;
		position: absolute;
		bottom: 0;
		width: 100vw;

		.theme {
			border-radius: 10px 10px 0 0;
			flex-direction: row;
			width: auto;
			top: 0;
			transform: translate(0);
			left: 0;
			width: 100vw;
		}
		.theme-block {
			margin: 15px 10px;
		}
	}
}

footer {
	margin-bottom: 40px;
}
