@media only screen and (max-width: 960px) {
	body {
	}

	ul.menu {
		display: none;
	}

	.temperature-container {
		bottom: 180px;
		justify-content: right;
		padding: 20px;
		position: absolute;
		right: 20px;
		top: 100px;
	}
	.temperature-container::before {
		background: $overlay;
		content: "";
	}

	.clock {
		.current-time {
			display: block;
			font-size: 90px;
			margin: 30px 0;

			span:nth-child(3) {
				display: none;
			}

			span:nth-child(4) {
				float: left;
				font-size: 30px;
				margin-top: 2px;
				max-width: 100px;
				position: absolute;
			}
		}
		.current-date {
			font-size: 26px;
		}
	}

	.mini-clock {
		@include centerItem;

		bottom: 0;
		font-size: 16px;
		height: 80px;
		margin: 0;
		top: auto;
		width: 100vw;
	}

	.min-menu {
		display: flex;
		margin: auto;
		margin-inline-end: 0;
		padding-inline-start: 0;

		.list-item {
			background-color: hsl(231, 49%, 31%);
			color: $white;
			font-size: 30px;
			height: 80px;
			margin: 0;
			padding: 20px 15px;
			position: relative;
			width: 100%;
			border-left: 0.5px solid rgb(20, 24, 90);

			&:hover {
				background-color: rgb(0, 4, 66);
			}

			i {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.theme-container {
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(calc(-50% - 90px));

		.theme {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			flex-direction: column;
			top: 0;
			transform: translate(0, 0);
			width: auto;
		}

	/*	.theme-block {
			// transform: rotate(-90deg);
		}*/
	}
}
