/* Themes */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes load-tab {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-tab {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: load-tab;
          animation-name: load-tab;
}

.day-bgc {
  background: -webkit-gradient(linear, left bottom, left top, from(#f12711), to(#f5af19));
  background: linear-gradient(0deg, #f12711, #f5af19);
}

.night-bgc {
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

b {
  color: #bbee02;
}

@-webkit-keyframes navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

nav {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: navbar;
          animation-name: navbar;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  height: 80px;
  margin: auto;
  max-width: 100%;
  position: relative;
  width: 100vw;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul.menu .list-item {
  display: inline-block;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

ul.menu .list-item:hover {
  background: #000;
  color: #fff;
}

ul.menu .logo {
  border: 0;
  padding: 10px 40px;
  position: relative;
}

ul.menu .logo img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
}

.current-time {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-time span {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 0 3px;
  padding: 0 5px;
}

.current-time span:nth-child(3) {
  font-size: 4vh;
  padding: 0 3px;
}

.alarm,
.stopwatch,
.timer {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: load-tab;
          animation-name: load-tab;
}

.container {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}

.container .clock {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: load-tab;
          animation-name: load-tab;
  bottom: 50%;
  color: #fff;
  position: absolute;
  right: 50%;
  text-align: center;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 100%;
}

.container .clock .current-time {
  font-size: 9vh;
  font-weight: 700;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .clock .current-date {
  font-size: 5vh;
  -webkit-margin-after: 0.25em;
          margin-block-end: 0.25em;
  -webkit-margin-before: 0.25em;
          margin-block-start: 0.25em;
}

.mini-clock {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: load-tab;
          animation-name: load-tab;
  bottom: 0;
  color: #fff;
  padding: 20px;
  position: absolute;
  right: 5px;
  text-align: right;
}

.mini-clock p {
  margin: 0;
}

.temperature-container {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: load-tab;
          animation-name: load-tab;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.temperature-container:hover {
  cursor: pointer;
}

.temperature-container p {
  margin: 0;
  text-align: right;
}

footer {
  height: 80px;
  position: relative;
}

footer .credits {
  bottom: 0;
  color: #fff;
  max-width: 100%;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.timer {
  display: none;
}

.timer .input {
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 9vh;
  font-weight: 700;
  margin: 5px;
  text-align: center;
  width: 12vh;
}

.alarm {
  display: none;
}

.stopwatch {
  display: none;
}

.theme-container {
  height: 100px;
  position: relative;
  text-align: center;
}

.theme-container .theme {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #428378;
  border-radius: 5px;
  width: 150px;
}

.theme-container .theme .theme-block {
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  height: 25px;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 25px;
}

.theme-container .theme .theme-block:hover {
  border: 2px solid #968aff;
}

.theme-container .theme .theme-block:nth-child(1) {
  background: -webkit-gradient(linear, left bottom, left top, from(#f12711), to(#f5af19));
  background: linear-gradient(0deg, #f12711, #f5af19);
}

.theme-container .theme .theme-block:nth-child(2) {
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
/*# sourceMappingURL=clock.css.map */