$guide: #f00;
$selected: #555;
$new-color: #bbee02;
$black: #000;
$white: #fff;
$mint: #a0ecd0;
$melon: #fec0aa;
$overlay: rgba(0, 0, 0, 0.4);
$overlay-gradient: linear-gradient(
	90deg,
	rgba(0, 0, 0, 0) 0%,
	rgba(0, 0, 0, 0.4) 80%
);
$paradise: #ee4266;

/* Themes */
$night: linear-gradient(0deg, #020024 0%, #090979 35%, #00d4ff 100%);
$day: linear-gradient(0deg, #f12711, #f5af19);
$girl-power: linear-gradient(0deg, rgb(245, 29, 173), rgb(254, 255, 179));
$stonewall: linear-gradient(0deg, rgb(32, 58, 34), rgb(159, 182, 31));

:root {
	--weather-bgc-opacity: 0;
}

@mixin centerItem {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}
@mixin flexCenter {
	align-items: center;
	display: flex;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

@keyframes load-tab {
	0% {
		opacity: 0;
	}

	45% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes navbar {
	0% {
		opacity: 0;
		transform: translateY(-25%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

body {
	animation-duration: 2s;
	animation-name: load-tab;
	display: flex;
	flex-flow: column;
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

/*** THEMES ***/
.bgc-day-default,
.bgc-hot-summer {
	background: $day;
}

.bgc-night-default,
.bgc-cool-blue {
	background: $night;
}

.bgc-girl-power {
	background: $girl-power;
	color: $black;
}

.compa {
	background: #3eb3e9;
}

.daiquiri {
	background: #f5689e;
}

.bgc-stonewall {
	background: $stonewall;
}

b {
	color: $new-color;
}

nav {
	animation-duration: 1s;
	animation-name: navbar;
	animation-timing-function: ease-in-out;
	height: 80px;
	margin: auto;
	max-width: 100%;
	position: relative;
	width: 100vw;
}

ul.menu {
	display: flex;
	margin: auto;
	margin-inline-end: 0;
	padding-inline-start: 0;

	.list-item {
		// border-bottom: 3px solid $selected;
		display: inline-block;
		margin: 0;
		padding: 30px;
		text-transform: uppercase;
		transition: background 0.3s ease;

		&:hover {
			background: $black;
			color: $white;
		}
	}

	.logo {
		border: 0;
		padding: 10px 40px;
		position: relative;

		img {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
		}
	}
}

.current-time {
	align-items: flex-start;
	display: flex;
	justify-content: center;

	span {
		background: $overlay;
		border-radius: 3px;
		margin: 0 3px;
		padding: 0 5px;

		&:nth-child(3) {
			font-size: 4vh;
			padding: 0 3px;
		}
	}
}

.alarm,
.stopwatch,
.timer {
	animation-duration: 4s;
	animation-name: load-tab;
}

.container {
	height: 100%;
	max-width: 100%;
	width: 100vw;

	.clock {
		animation-duration: 4s;
		animation-name: load-tab;
		bottom: 50%;
		color: $white;
		position: absolute;
		right: 50%;
		text-align: center;
		transform: translate(50%, 50%);
		width: 100%;

		.current-time {
			font-size: 9vh;
			font-weight: 700;
			margin-block-end: 0.5em;
			margin-block-start: 0.5em;
			position: relative;
			user-select: none;
		}

		.current-date {
			font-size: 5vh;
			margin-block-end: 0.25em;
			margin-block-start: 0.25em;
		}
	}
}

.mini-clock {
	animation-duration: 2s;
	animation-name: load-tab;
	bottom: 0;
	color: $white;
	padding: 20px;
	position: absolute;
	right: 5px;
	text-align: right;

	p {
		margin: 0;
	}
}

.temperature-container {
	@include flexCenter;

	animation-duration: 2s;
	animation-name: load-tab;
	color: $white;
	font-weight: bold;
	height: 80px;
	padding: 0 30px 0 60px;
	position: absolute;
	right: 0;
	top: 0;

	&:hover {
		cursor: pointer;
	}

	p {
		margin: 0;
		text-align: right;
	}

	.temperature-details {
		display: flex;
		flex-direction: column;
		padding: 0 10px;

		p.temperature {
			font-size: 30px;
		}

		p.location {
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.temperature-container::before {
	background: $overlay-gradient;
	content: "";
	height: 100%;
	opacity: var(--weather-bgc-opacity);
	position: absolute;
	right: 0;
	top: 0;
	transition: 1s opacity ease-in;
	width: 100%;
	z-index: -1;
}

footer {
	height: 80px;
	position: relative;

	.credits {
		bottom: 0;
		color: $white;
		max-width: 100%;
		padding: 20px;
		position: absolute;
		text-align: center;
		width: 100vw;
	}
}

.timer {
	display: none;

	.input {
		background: $overlay;
		border: 0;
		border-radius: 3px;
		color: $white;
		font-size: 9vh;
		font-weight: 700;
		margin: 5px;
		text-align: center;
		width: 12vh;
	}
}

.alarm {
	display: none;
}

.stopwatch {
	display: none;
}

.theme-container {
	height: 100px;
	position: relative;
	text-align: center;

	.theme {
		@include centerItem;
		@include flexCenter;

		background-color: $white;
		border-radius: 5px;
		width: 180px;

		.theme-block {
			border-radius: 5px;
			display: inline-block;
			height: 25px;
			margin: 10px 5px;
			position: relative;
			transition: all 0.2s ease;
			width: 25px;

			&:hover {
				border: 1px solid #000;
			}
		}
	}
}

.theme-block i {
	@include centerItem;

	color: $black;
}

@media only screen and (max-width: 900px) {
	body {
		color: green;
	}

	.temperature-container {
		@include centerItem();

		padding: 20px;
		bottom: 180px;
		width: 60vw;
	}
	.temperature-container::before {
		content: "";
		background: $overlay;
	}

	.container {
		.clock {
			.current-time {
				display: block;
				margin: 30px 0;
				font-size: 90px;

				span:nth-child(3) {
					display: none;
				}
				span:nth-child(4) {
					font-size: 30px;
					position: absolute;
					margin-top: 2px;
					float: left;
					max-width: 100px;
				}
			}
			.current-date {
				font-size: 26px;
			}
		}
	}
}

.mini-clock {
	@include centerItem;
	top: 100px;
	height: 80px;
	margin: 0;
	width: 100vw;
}
