@import "vars";

body {
	animation-duration: 2s;
	animation-name: load-tab;
	display: flex;
	flex-flow: column;
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

/*** THEMES ***/
.bgc-day-default,
.bgc-hot-summer {
	background: $day;
}

.bgc-night-default,
.bgc-cool-blue {
	background: $night;
}

.bgc-girl-power {
	background: $girl-power;
	color: $black;
}

.bgc-stonewall {
	background: $stonewall;
}

.bgc-no-weather {
	background: $bw-gradient;
	color: $white;
}

b {
	color: $new-color;
}

nav {
	animation-duration: 1s;
	animation-name: navbar;
	animation-timing-function: ease-in-out;
	margin: auto;
	max-width: 100%;
	position: relative;
	width: 100vw;
}

ul.menu {
	display: flex;
	margin: auto;
	margin-inline-end: 0;
	padding-inline-start: 0;

	.logo {
		border: 0;
		padding: 10px 40px;
		position: relative;

		img {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
		}
	}
}

.list-item {
	// border-bottom: 3px solid $selected;
	display: inline-block;
	margin: 0;
	padding: 30px;
	text-transform: uppercase;
	transition: background 0.3s ease;

	&:hover {
		background: $black;
		color: $white;
	}
}

.current-time {
	align-items: flex-start;
	display: flex;
	justify-content: center;

	span {
		background: $overlay;
		border-radius: 3px;
		margin: 0 3px;
		padding: 0 5px;

		&:nth-child(3) {
			font-size: 4vh;
			padding: 0 3px;
		}
	}
}

.alarm,
.stopwatch,
.timer {
	animation-duration: 4s;
	animation-name: load-tab;
}

.container {
	height: 100%;
	max-width: 100%;
	width: 100vw;

	.clock {
		@include centerItem animation-duration: 4s;
		animation-name: load-tab;
		color: $white;
		width: 100%;

		.current-time {
			font-size: 9vh;
			font-weight: 700;
			margin-block-end: 0.5em;
			margin-block-start: 0.5em;
			position: relative;
			user-select: none;
		}

		.current-date {
			font-size: 5vh;
			margin-block-end: 0.25em;
			margin-block-start: 0.25em;
		}
	}
}

.mini-clock {
	animation-duration: 2s;
	animation-name: load-tab;
	bottom: 0;
	color: $white;
	padding: 20px;
	position: absolute;
	right: 5px;
	text-align: right;

	p {
		margin: 0;
	}
}

.temperature-container {
	@include flexCenter;

	animation-duration: 2s;
	animation-name: load-tab;
	color: $white;
	font-weight: bold;
	height: 80px;
	padding: 0 30px 0 60px;
	position: absolute;
	right: 0;
	top: 0;

	&:hover {
		cursor: pointer;
	}

	p {
		margin: 0;
		text-align: right;
	}

	.temperature-details {
		display: flex;
		flex-direction: column;
		padding: 0 10px;

		p.temperature {
			font-size: 30px;
		}

		p.location {
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.temperature-container::before {
	background: $overlay-gradient;
	content: "";
	height: 100%;
	opacity: var(--weather-bgc-opacity);
	position: absolute;
	right: 0;
	top: 0;
	transition: 1s opacity ease-in;
	width: 100%;
	z-index: -1;
}

footer {
	height: 80px;
	position: relative;

	.credits {
		bottom: 0;
		color: $white;
		max-width: 100%;
		padding: 20px;
		position: absolute;
		text-align: center;
		width: 100vw;
	}
}

.timer {
	@include centerItem;
	display: none;

	.input {
		background: $overlay;
		border: 0;
		border-radius: 3px;
		color: $white;
		font-size: 9vh;
		font-weight: 700;
		margin: 5px;
		text-align: center;
		width: 12vh;
	}
}

.alarm {
	@include centerItem;
	display: none;
}

.stopwatch {
	@include centerItem;
	display: none;
}

.theme-container {
	height: 100px;
	position: relative;
	text-align: center;

	.theme {
		@include centerItem;
		@include flexCenter;

		background-color: $white;
		border-radius: 5px;
		width: 180px;

		.theme-block {
			border-radius: 5px;
			display: inline-block;
			height: 25px;
			margin: 10px 5px;
			position: relative;
			transition: all 0.2s ease;
			width: 25px;

			&:hover {
				border: 1px solid #000;
			}
		}
	}
}

.theme-block i {
	@include centerItem;

	color: $black;
}

.min-menu {
	display: none;
}

@import "clock-res";
